@model MVC_Empty.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div> 
        @Model.Title <BR> @Model.OperaID <BR> @Model.Year <BR> @Model.Composer
    </div>*@
    <div>
        @Html.DisplayNameFor(m=>m.OperaID):@Html.DisplayFor(m=>m.OperaID)
        <BR>
        @Html.DisplayNameFor(m => m.Title):@Html.DisplayFor(m => m.Title)
        <BR>
        @Html.DisplayNameFor(m => m.Year):@Html.DisplayFor(m => m.Year)
        <BR>
        @Html.DisplayNameFor(m => m.Composer):@Html.DisplayFor(m => m.Composer)
        <BR>


    </div>

</body>
</html>
