@model MVC_DataBaseContext.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <h1>新增歌劇</h1>

        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>新增歌劇</legend>
                <div>@Html.LabelFor(m => m.Title)</div>
                <div>
                    @Html.EditorFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
                <div>@Html.LabelFor(m => m.Year)</div>
                <div>
                    @Html.EditorFor(m => m.Year)
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
                <div>@Html.LabelFor(m => m.Composer)</div>
                <div>
                    @Html.EditorFor(m => m.Composer)
                    @Html.ValidationMessageFor(m => m.Composer)
                </div>
                <div>
                    <input type="submit" value="新增" />
                </div>
            </fieldset>
        }
        <p>
            @Html.ActionLink("回歌劇列表", "Index")
        </p>
    </div>
</body>
</html>
