@model IEnumerable<MVC_DataBaseContext.Models.Opera>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("新增歌劇", "Create")
</p>




<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(m => m.OperaID)</th>
        <th>@Html.DisplayNameFor(m => m.Title)</th>
        <th>@Html.DisplayNameFor(m => m.Year)</th>
        <th>@Html.DisplayNameFor(m => m.Composer)</th>
        <th>詳細</th>
        <th>修改</th>
        <th>刪除(頁面)</th>
        <th>刪除(直接)</th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td>@Html.DisplayFor(mi => item.OperaID)</td>
            <td>@Html.DisplayFor(mi => item.Title)</td>
            <td>@Html.DisplayFor(mi => item.Year)</td>
            <td>@Html.DisplayFor(mi => item.Composer)</td>
            <td>@Html.ActionLink("詳細", "Details", new { id = item.OperaID })</td>
            <td>@Html.ActionLink("修改", "Edit", new { id = item.OperaID })</td>
            <td>@Html.ActionLink("刪除", "Delete", new { id = item.OperaID })</td>
            <td>@Html.ActionLink("刪除", "Delete2", new { id = item.OperaID }, new { onclick = "return confirm('確定要刪除此筆資料?');" })</td>
        </tr>
    }
</table>








